body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  vertical-align: middle;
  height: 50vw;
  min-height: 500px;
  max-height: 600px;
  min-width: 300px;
  color:#eee;
}

header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

header::before {
  content:"";
  width:100vw;
  height:100vh;
  position:absolute;
  background: #1B2030 url("../../portfolio/src/assets/header/Sunset.png") repeat;
  background-size:100%;
  background-attachment:fixed;
  z-index: -2;
}

header a{
  color:#eee;
}

nav {
  display: flex;
  flex-wrap: wrap;
}
.nav {
  display: inline-flex;
  list-style: none;
}
.nav li {
  padding: 2vw;
  font-size: 20px;
  flex: 1 2 1;     
}

.info{
  display: block;
  width: 100vw;
  padding: 15% 10% 0 10%;
  text-align: center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2);  
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  align-items: center;
}

.headshot  {
  flex: 2 2 auto;
  height: 35vh;
  width: 35vh;
  border: 2px solid black;
}

.about p {
  font-size: 20px;
  color: black;
}

form {
  display: flex;
  width: 40vw;
  flex-direction: column;
}

.content {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  display:flex;
  align-items: center;
  width: 30vw;
}

#contact input, textarea {
  width:15vw;
  margin-bottom: 1vh;
}

#contact input {
  margin-left: 1vw;
}

#contact div {
  display: flex;
  align-items: baseline;
}
 

button {
  max-width: 15vw;
}

.portfolio {
  display: flex;
  width: 60vw;
}

.portfolio img {
  width: 20vw;
  height:20vh;
}

.card {
  border: solid black 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-right: 4vw;
  margin-left: 4vw;
  padding: 1vw;
} 

.bold {
  font-weight: bold;
  margin-bottom: 0vh;
}

footer {
  font-size: 48px;
  justify-content: center;
}

footer a {
  color: var(--light);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}
